@{
    ViewData["Title"] = "Home Page";
}

@model List<LAB.Models.Departments>

<div class="container">
    <div class="text-center">
        <h2>@ViewData["Title"]</h2>
    </div>
    <div class="col">
        <p class="" style="font-family: monospace">
            Welcome to the C# ASP.NET Bootcamp LAB Project, The purpose of the this project is to create a website that is able to view Persons in a List/[]
            We have the Options to View a list of the data, Edit the Data, View Object individually, followed by Adding new users.
        </p>
    </div>
</div>


